.button {
  background-color: #009578; /* Green */
  border-width: 0px;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

.button:hover {
  background-color: #035a50;
}

.line {
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  color: black;
  font-weight: 400;
}
